.authform
  = form_for @activity_type, html: {:role => 'form'} do |f|
    %h3 New type of activities
    = render 'form', f: f
    = f.submit "Add type", :class => 'button right'
    = render "shared/form_nav_links", locals: { back: true }