.authform
  = form_for @activity, html: {method: :patch, :role => 'form'} do |f|
    %h3 Change activity
    = render 'form', f: f
    = f.submit "Change type", :class => 'button right'
    = render "shared/form_nav_links", locals: { back: true }