.container
  .row
    .col-md-3
      .container
        =form_tag activities_path, method: "get"
        =hidden_field_tag :direction, params[:direction]
        =hidden_field_tag "sort[]", params[:sort]
        =label_tag :completed
        =radio_button_tag :completed, true, included_in_params?(:completed), id: "completed"
        %br
        =label_tag :planned
        =radio_button_tag :completed, false, !included_in_params?(:completed), id: "planned"
        %br
        =label_tag :select_by_contact, "Select by contact:"
        %br
        =select_tag "select_by_contact", options_from_collection_for_select(Contact.all, 'id', 'full_name', params[:select_by_contact]), prompt: "Select all"
        %br
        =submit_tag "Filter", name: nil
    .col-md-9
      %h3
        Activities
        =render 'activities'
      %ul.nav.nav-pills
        %li
          =link_to "New type", new_activity_path
        %li.active
          =link_to "Home", root_path