.container
  .row
    .col-md-3
      %nav.navbar.navbar-default.navbar-fixed-left
        %ul.nav.nav-tabs
          %li.active{ role: "presentation", id: "planned-tab" }= link_to "Planned", { controller: "serve_activities", action: "planned", remote: true, completed: false }
          %li{role: "presentation", id: "completed-tab" }= link_to "Completed", { controller: "serve_activities", action: "completed", remote: true, completed: true }
    .col-md-9
      %h3
        Activities
        =render 'activities'
      %ul.nav.nav-pills
        %li
          =link_to "New type", new_activity_path
        %li.active
          =link_to "Home", root_path