.container
  .row
    .col-md-3
      %nav.navbar.navbar-default.navbar-fixed-left
        %ul.nav.nav-tabs
          %li{ role: "presentation", id: "planned-tab", class: "#{set_planned_tab_class}" }= link_to "Planned", { controller: "serve_activities", action: "planned", remote: true, completed: false }
          %li{role: "presentation", id: "completed-tab", class: "#{set_completed_tab_class}" }= link_to "Completed", { controller: "serve_activities", action: "completed", remote: true, completed: true }
        .container
          =form_tag activities_path, method: :get do
            =select_tag "activity[contact_id]", options_from_collection_for_select(Contact.all, "id", "full_name", selected: selected_option), prompt: "select contact"
            %br
            =submit_tag
    .col-md-9
      %h3
        Activities
        =render 'activities'
      %ul.nav.nav-pills
        %li
          =link_to "New type", new_activity_path
        %li.active
          =link_to "Home", root_path